name: ci-register-workflow
on:
  pull_request:
    branches:
      - master
jobs:
  check-application:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java_version: [ '17', '21' ]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java_version }}

      - name: Cache Maven
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-m2-

      - name: Build without tests
        run: mvn clean install -DskipTests
