name: ci-register-workflow
on: [push]

jobs:
  check-application:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8
        ports:
          - 3306:3306
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: register
        options: >-
          --health-cmd="mysqladmin ping --silent"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=10

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Wait for MySQL to be ready
        run: |
          for i in {1..15}; do
            if mysqladmin ping -h "127.0.0.1" --silent; then
              echo "MySQL is up!"
              break
            fi
            echo "Waiting for MySQL..."
            sleep 5
          done

      - name: Build with Maven
        run: mvn clean package -DskipTests

      - name: Run application
        run: java -jar target/*.jar
