name: ci-register-workflow
on: [push]

jobs:
  check-application:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Cache Maven
        uses: actions/cache@v4
        with:
          path: ~
